Platforms/.DS_Store
obj/Debug/net8.0-android/_Microsoft.Android.Resource.Designer.dll
obj/Debug/net8.0-android/CheckInOutCGA.AssemblyInfo.cs
obj/Debug/net8.0-android/CheckInOutCGA.AssemblyInfoInputs.cache
